#main-product-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 1px solid tomato; */
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: 50px;
  min-height: 250px;
}

#product-images {
  /* border: 1px solid hotpink; */
  width: 100%;
  height: 100%;
  order: 2;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas:
    "image image image image"
    "image image image image"
    "image image image image"
    "image image image image"
    "image1 image2 image3 image4";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;
}

#product-images:hover .skip-prev-arrows {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

#product-image-1 {
  max-width: 100%;
  height: auto;
  width: auto;
  display: flex;
  border-radius: 15px;
  justify-self: center;
  grid-area: image;
  position: relative;
}

.skip-prev-arrows {
  display: flex;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  z-index: 1;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  height: 50px;
  padding: 5px;
  background-color: #eeeeee;
  cursor: pointer;
  border-radius: 10px 0 0 10px;
}

#arrow-right {
  justify-self: right;
}

#arrow-left {
  justify-self: left;
  transform: scaleX(-1);
}

#product-images:hover #product-radio-wrapper {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

#product-radio-wrapper {
  display: flex;
  position: absolute;
  z-index: 1;
  opacity: 0;
  justify-self: center;
  align-self: last baseline;
  margin-bottom: 25%;
  height: 10px;
  width: auto;
  gap: 10px;
  transition: opacity 0.5s ease;
}

#product-radio {
  appearance: none;
  height: 10px;
  width: 10px;
  border: 1px solid #323232;
  justify-self: center;
  align-self: last baseline;
  border-radius: 50%;
  cursor: pointer;
}

#product-radio:checked {
  background-color: #323232;
}

.product-images-thumb {
  display: flex;
  width: auto;
  width: auto;
  justify-self: center;
  min-height: 100%;
  min-height: 100%;
  border-radius: 15px;
}

#product-image-2 {
  grid-area: image1;
  cursor: pointer;
}

#product-image-3 {
  grid-area: image2;
  cursor: pointer;
}

#product-image-4 {
  grid-area: image3;
  cursor: pointer;
}

#product-image-5 {
  grid-area: image4;
  cursor: pointer;
}

#product-model-name {
  /* border: 1px solid goldenrod; */
  width: 100%;
  height: 100%;
  order: 1;
  font-size: 1.5rem;
  font-weight: 700;
  color: #323232;
  margin-bottom: 30px;
}

#reviews-text {
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 500;
}

#product-price-cart {
  /* border: 1px solid teal; */
  width: 100%;
  height: 100%;
  order: 3;
  font-size: 1.8rem;
  font-weight: 700;
  color: #323232;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#product-price-cart>p {
  margin-bottom: 30px;
}

#price-free-shipping {
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#product-cart-favorite-wrapper {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

#product-button-cart {
  width: 75%;
  min-width: 180px;
  background-color: #323232;
  color: #eeeeee;
  padding: 12px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

#product-button-cart:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

#product-button-favorite {
  width: 50px;
  background-color: #e1e1e1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#product-button-favorite:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

@media screen and (min-width: 750px) {
  #main-product-wrapper {
    width: 100%;
    /* border: 1px solid tomato; */
    min-height: 250px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    min-width: 0;
    display: grid;
    grid-template-areas:
      "images model"
      "images price"
      "images .";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, minmax(100px, auto));
    padding: 30px;
  }

  #product-images {
    /* border: 1px solid hotpink; */
    grid-area: images;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px;
  }

  #product-image-1 {
    max-width: 100%;
  }

  .skip-prev-arrows {
    background-color: #fff;
  }

  #product-radio-wrapper {
    margin-bottom: 100px;
  }

  #product-model-name {
    /* border: 1px solid green; */
    grid-area: model;
    min-width: 280px;
    padding-left: 30px;
    margin-bottom: 0px;
  }

  #product-price-cart {
    grid-area: price;
    padding-left: 30px;
    justify-content: space-around;
    align-items: start;
    /* border: 1px solid goldenrod; */
  }

  #product-cart-favorite-wrapper {
    justify-content: flex-start;
    margin-bottom: 0px;
  }

  #product-button-cart {
    width: 60%;
  }
}

@media screen and (min-width: 1150px) {
  #product-radio-wrapper {
    margin-bottom: 140px;
  }
}