#main-product-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: 50px;
  min-height: 250px;
  animation: fadeIn 0.5s ease-in-out forwards;
}

#product-images {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  height: 100%;
  order: 2;
  /* border: 1px solid teal; */
}

#product-model-name {
  /* border: 1px solid goldenrod; */
  width: 100%;
  height: 100%;
  order: 1;
  font-size: 1.5rem;
  font-weight: 700;
  color: #323232;
  margin-bottom: 30px;
}

#reviews-text {
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 500;
}

#product-price-cart {
  width: 100%;
  height: 100%;
  order: 3;
  font-size: 1.8rem;
  font-weight: 700;
  color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#product-price-cart p:nth-of-type(1) {
  margin: 30px 0px;
}

#product-price-cart p:nth-of-type(2) {
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
}

#size-shoes-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 35px;
  width: 85%;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.label-shoe-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: #e1e1e1;
  cursor: pointer;
  font-size: 1rem;
  color: #323232;
  transition: background-color 0.4s, color 0.3s;
}

.label-shoe-number:has(.radio-number-shoe:checked) {
  background-color: #323232;
  color: white;
}

.radio-number-shoe {
  display: none;
}

#price-free-shipping {
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#product-cart-favorite-wrapper {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
  margin-top: 40px;
  height: 50px;
}

#product-button-cart {
  min-width: 80%;
  background-color: #323232;
  color: #eeeeee;
  padding: 12px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

#product-button-cart:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

#product-button-favorite {
  width: 50px;
  background-color: #e1e1e1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#product-button-favorite:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

@media screen and (min-width: 860px) {
  #main-product-wrapper {
    width: 100%;
    /* border: 1px solid tomato; */
    min-height: 250px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    /* min-width: 0; */
    display: grid;
    grid-template-areas:
      "images model"
      "images price"
      "images price"
      "images price"
      "images price"
      "images .";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, minmax(10px, auto));
    padding: 20px;
  }

  #product-images {
    /* border: 1px solid hotpink; */
    grid-area: images;
    overflow: hidden;
    padding: 15px;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    background-color: #ffffff;
    border-radius: 15px;
  }

  #product-model-name {
    /* border: 1px solid green; */
    grid-area: model;
    margin-top: 0px;
    min-width: 280px;
    padding-bottom: 0px;
    padding-left: 30px;
    margin-bottom: 0px;
  }

  #product-price-cart {
    grid-area: price;
    padding-left: 30px;
    justify-content: space-around;
    align-items: start;
    /* border: 1px solid goldenrod; */
  }

  #size-shoes-wrapper {
    justify-content: start;
    margin-bottom: 40px;
  }

  #product-cart-favorite-wrapper {
    justify-content: flex-start;
    margin-top: 20px;
  }

  #product-button-cart {
    /* max-width: 60%; */
    min-width: 200px;
    width: 60%;
  }

  #price-free-shipping {
    font-size: 0.9rem;
  }
}